* {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    margin: 0;
    word-break: keep-all;
}
.Container {
    width: 92%;
    padding: 0% 4%;
}
.Title {
    font-size: 40px;
    font-weight: bolder;
    color: #333C4B;
}
.Container {
    width: 92%;
    padding: 0% 4%;
}
.BannerImg {
    width: 100%;
    height: 180px;
}
.LayoutContainer {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    min-width: 320px;
    flex: 1;
}
.TopMargin {
    height: 50px;
}
.ContentContainer {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.SubTitle {
    font-size: 17px;
    font-weight: bold;
    color: #333c4b;
    margin-bottom: 12px;
}
.MainText {
    font-size: 16px;
    color: #4e5968;
    padding-left: 20px;
}
.List {
    display: list-item;
    margin: 8px 0px;
}
.Tage {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #4e5968;
    text-align: center;
    content: '•';
}
.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f9fafb;
}
.FooterContainer {
    max-width: 1064px;
    padding: 20px 30px;
}
.FooterContent {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    padding: 10px 70px;
}
.FooterLogo {
    padding-right: 5px;
}
.FooterSubTitle {
    display: inline-block;
    margin-top: 8px;
    font-size: 13px;
}
.ApplyContainer {
    display: flex;
    position: sticky;
    flex-direction: column;
}
.ApplyContent {
    padding: 14px 0px;
    display: flex;
    border-top: 1px solid rgba(0, 29, 58, 0.18);
}
.ApplyList {
    width: 90px;
    font-size: 15px;
    font-weight: bolder;
    line-height: 24px;
    color: #6B7684;
}
.ApplyInfo {
    color: #3886F6;
    font-weight: bolder;
}
.ApplyButton {
    background-color: #42A5F5;
    color: white;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    border-color: #42A5F5;
}
.ApplyButton:hover {
    background-color: #286aa8;
}
@media (max-width: 500px) {
    .ApplyContainer {
        position: absolute;
    }
}

